//Colors
$g-color-black: #000 !default;
$g-color-violet: #8055d1 !default;
$g-color-light-violet: #966be6 !default;
$g-color-yellow: #ffd148 !default;
$g-color-gray: #64646a !default;
$g-color-light-gray: #acacac !default;

// Base Typography
$g-title-color: #13131c !default;
$g-subtitle-color: #13131c !default;
$g-paragraph-color: #13131c !default;

$g-title-font-size: 50px !default;
$g-title-line-height: 58px !default;

$g-paragraph-font-size: 18px !default;
$g-paragraph-line-height: 24px !default;

$g-font-stack: 'Besom', 'arial', sans-serif;
$g-TTCommons-DemiBold: 'TTCommons-DemiBold';
$g-TTCommons-Regular: 'TTCommons-Regular';
