.card
{
    padding-top: 59px;
    padding-bottom: 54px;
    max-width: 850px;
    background-color: $g-card-background-color;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;

    &__title
    {
        max-width: 410px;
        line-height: $g-card-title-line-height;
        font-size: $g-card-title-font-size;
        font-family: $g-title-font;
        text-transform: uppercase;
        font-weight: 500;
        color: $g-title-color;

        &_small
        {
            font-size: $g-card-title-font-small-size;
        }
    }
    &__text
    {
        padding-bottom: 26px;
        padding-top: 10px;
        max-width: 530px;
        font-family: $g-card-text-font;
        font-size: $g-card-text-font-size;
        font-weight: 500;
        line-height: $g-card-text-line-height;
        color: $g-card-text-color;
    }
}