.testimonial
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;

    &_right
    {
        flex-direction: row-reverse;
    }

    &__quote
    {
        background: url("../images/qoute_background.png") no-repeat;
        filter: drop-shadow(0 0 3px rgba(100, 100, 100, 0.5));
        width: 701px;
        height: 236px;

    }

    &__quote_right
    {
        background: url("../images/qoute_background_reverse.png") no-repeat;
    }

    &__text
    {
        padding-top: 40px;
        flex-direction: column;
        justify-content: space-around;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        line-height: 26px;
    }

    &__author
    {
        font-weight: bold;
    }

    &__city
    {
        font-weight: normal;
        padding-top: 10px;
    }
}