.order-card
{
    padding-top: 45px;
    padding-bottom: 45px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: $g-order-card-background-color;
    display: flex;
    flex-direction: row;

    &__description
    {
        padding-left: 120px;
        width: 25%;
    }

    &__title
    {
        font-family: $g-title-font;
        font-weight: 500;
        font-size: $g-order-card-title-font-size;
        text-transform: uppercase;
        color: $g-order-card-title-color;
        line-height: 36px;
    }

    &__text
    {
        font-family: $g-card-text-font;
        font-size: $g-order-card-text-font-size;
        padding-top: 10px;
    }

    &__cost
    {
        font-family: $g-title-font;
        font-weight: 500;
        font-size: $g-order-card-cost-font-size;
        color: $g-order-card-title-color;
    }

    &__form
    {
        width: 60%;
        max-width: 525px;
        max-height: 270px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between
    }

    &__input
    {
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $g-order-input-background-color;
        border: 0;
        padding: 10px;
        font-family: $g-order-card-input-font;
        font-size: $g-order-card-input-font-size;

        &_double
        {
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &_half
        {
            width: 45%;
        }

        &::placeholder
        {
            color: $g-order-card-input-placeholder-color;
            font-family: $g-order-card-input-font;
            font-weight: 400;
            font-size: $g-order-card-input-font-size;
        }
    }
    &__name
    {
        max-width: 525px;
    }

    &__subtext
    {
        padding-top: 10px;
        font-family: $g-order-card-input-font;
        font-size: 11px;
        font-weight: normal;
        opacity: 0.5;
        line-height: 16px;
    }
}