@import "vars/vars";
@import "reset/reset";

@import "blocks/main";

.header
{
    height: 100px;
    justify-content: center;
}

.hero
{
    padding-top: 178px;
    height: 595px;
    background: url("../images/hero_background.png") repeat-x ;
}

.section
{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 130px;
    padding-bottom: 50px;
}

.section__title
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    display: inline-block;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.gif_section
{
    background: url("../images/gift_background.png") no-repeat;
    padding-top: 55px;
    padding-bottom: 55px;
}

.section_order
{
    background-color: #0fa8ea;
    padding-bottom: 100px;
    padding-top: 100px;
}