.subscribe-description
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;

    &__title
    {
        font-size: 36px;
        font-family: $g-title-font;
        font-weight: 400;
        text-transform: uppercase;
        color: $g-title-color;
    }

    &__subtitle
    {
        font-family: $g-subtitle-font;
        padding-bottom: 20px;
        color: $g-title-color;
    }

    &_text
    {
        width: 40%;
        color: $g-title-color;
    }

    &__image
    {
        width: 60%;
    }
}