.footer
{
    background-color: $g-footer-background-color;

    &__section
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 80px;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
    }

    &__tagline
    {
        font-family: $g-footer-font;
        font-weight: 500;
        font-size: $g-footer-font-size;
        opacity: 0.4;
        max-width: 225px;
    }

    &__column
    {
        display: flex;
        flex-direction: column;
    }

    &__link
    {
        max-width: 120px;
        font-family: $g-footer-font;
        font-size: $g-footer-font-size;
        opacity: 0.5;
        font-weight: 400;
        padding-top: 15px;

        &_title
        {
            font-weight: bold;
        }
    }
}