.taste
{
    max-width: 1566px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    
    &__image-container
    {
        position: relative;
        max-width: 925px;
    }
    
    &__country-photo
    {
        max-width: 100%;
    }
    
    &__package-image
    {
        position: absolute;
        width: 30%;
        
        &_left
        {
            top: 48%;
            right: 21%;
        }
        
        &_right
        {
            top: 34%;
            left: 28%;
        }
    }
    
    &__description
    {
        max-width: 418px;
        position: relative;
        padding-top: 100px;
        padding-left: 75px;
    }
    
    &__title
    {
        font-family: $g-title-font;
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: $g-title-color;
    }
    
    &_underlay-title
    {
        position: absolute;
        font-family: 'Caveat', serif ;
        font-size: 125px;
        opacity: 0.1;
        top: 15px;
        left: 17px;
    }
    
    &__subtitle
    {
        font-family: $g-subtitle-font;
        font-weight: 500;
        font-size: 16px;
        opacity: 0.5;
        text-transform: uppercase;
        color: $g-subtitle-color;
    }
    
    &__text
    {
        padding-top: 20px;
        font-family: "Raleway Medium", sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
        color: $g-taste-subtitle;
    }
}
