.taste
{
    max-width: 1580px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 176px;
    
    &_without-padding-bottom
    {
        padding-bottom: 0;
    }
    
    &__image-container
    {
        position: relative;
        max-width: 926px;
        padding-right: 43px;
        
        &_right
        {
            padding-right: 0;
        }
        
        &_padding-top
        {
            padding-top: 82px;
        }
    }
    
    &__country-photo
    {
        max-width: 100%;
    }
    
    &__package-image
    {
        position: absolute;
        width: 28%;
        
        &_left
        {
            top: 41%;
            right: 33%;
        }
        
        &_right
        {
            top: 34%;
            left: 28%;
        }
    }
    
    &__description
    {
        width: 36%;
        position: relative;
        padding-top: 100px;
        padding-left: 45px;
        
        &_left
        {
            padding-left: 89px;
        }
    }
    
    &__title
    {
        font-family: $g-title-font;
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: $g-title-color;
        line-height: 37px;
    }
    
    &__underlay-title
    {
        position: absolute;
        font-family: $g-taste-underlay-title-font;
        font-size: 125px;
        opacity: 0.1;
        top: 0px;
        left: -60px;
        
        &_right
        {
            top: 19px;
            left: -68px;
        }
    }
    
    &__subtitle
    {
        font-family: $g-subtitle-font;
        font-weight: 500;
        font-size: 16px;
        opacity: 0.5;
        text-transform: uppercase;
        color: $g-subtitle-color;
    }
    
    &__text
    {
        max-width: 422px;
        padding-top: 20px;
        font-family: $g-taste-text-font;
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        color: $g-taste-subtitle;
    }
    
    &__line
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    &__info
    {
        max-width: 150px;
        
        &-wrapper
        {
            max-width: 600px;
            display: flex;
        }
        
        &_padding-left
        {
            padding-left: 74px;
        }
        
        &-text
        {
            font-family: $g-taste-text-font;
            font-size: 11px;
        }
        
        &-title
        {
            font-family: $g-taste-info-title-font;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 10px;
        }
    }
    
    &__button-wrapper
    {
        padding-top: 37px;
        max-width: 243px;
    }
}