.section
{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 117px;
    padding-bottom: 50px;
    position: relative;

    &__title
    {
        color: $g-title-color;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        display: inline-block;
        font-size: 36px;
        font-family: $g-title-font;
        text-transform: uppercase;
        font-weight: 500;
        
        &_medium
        {
            font-size: 32px;
        }
    }

}